[HKEY_CLASSES_ROOT\Directory\Background\shell\mingw64]
@="MinGW 64 Ba&sh Here"
"Icon"="\"{MSYS2_INSTALL_DIR}mingw64.exe\""

[HKEY_CLASSES_ROOT\Directory\Background\shell\mingw64\command]
@="cmd /U /C \"{SCRIPT_HERE_PATH_WIN} \"%v\"\""

