[{ROOT_KEY}\Software\Classes\Directory\Background\shell\mingw64]
@="MinGW 64 Bash Here"
"Icon"="\"{MSYS2_INSTALL_DIR}mingw64.ico\""

[{ROOT_KEY}\Software\Classes\Directory\Background\shell\mingw64\command]
@="{MSYS2_INSTALL_DIR}msys2_shell.cmd -mingw64 -here \"%v\""